Repository jenkinsci/ecutest-plugin, pull requests merged in 2019-12, with the labels that each got.

#120 Add more debug logs to COM API calls
  README.md
  docs/images/create_new_debug_log_recorder.png
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/wrapper/com/ETComDispatch.java
Labels: ecu-test, feature

#124 Debug mode option is ignored using dynamic ECU-TEST installation
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/env/ToolEnvContributor.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/env/ToolEnvInvisibleAction.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/client/ETClient.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETInstance.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/env/view/ToolEnvActionView/summary.jelly
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/env/view/ToolEnvActionView/summary.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/env/view/ToolEnvActionView/summary_de.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder/help_de.html
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/env/ToolEnvContributorIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/client/ETClientTest.java
Labels: bug, ecu-test

#128 Ensure ECU-TEST 8.1 compatibility
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/ETPlugin.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/test/client/AbstractTMSClient.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/wrapper/com/TestManagement.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/wrapper/com/api/ComTestManagement.java
Labels: ecu-test, feature

#126 Allow named arguments for all dynamic pipeline steps
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/pipeline/ATXServer.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/AbstractToolBuilder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETInstance.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/ATXPublisher/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/ATXPublisher/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/generator/ReportGeneratorPublisher/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/generator/ReportGeneratorPublisher/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/junit/JUnitPublisher/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/junit/JUnitPublisher/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/ta/TraceAnalysisPublisher/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/ta/TraceAnalysisPublisher/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/tms/TMSPublisher/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/tms/TMSPublisher/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartTSBuilder/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StartTSBuilder/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StopETBuilder/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StopETBuilder/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StopTSBuilder/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/StopTSBuilder/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETConfigStartedStep/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETConfigStartedStep/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETGetInstallationStep/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETGetInstallationStep/help_de.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETNewInstallationStep/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETNewInstallationStep/help_de.html
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/pipeline/ATXPipelineIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETPipelineIT.java
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETPipelineIT/etInstallation.groovy
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETPipelineIT/etNewInstallation.groovy
Labels: ecu-test, feature, test-guide

#130 Register COM server on each start of ECU-TEST
  .idea/git_toolbox_prj.xml
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/AbstractReportPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/AbstractToolPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/junit/JUnitReportGenerator.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/client/ETComRegisterClient.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETInstallation.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETToolProperty.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETNewInstallationStep.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/pipeline/ETPipeline.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETToolProperty/config.jelly
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETToolProperty/config.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETToolProperty/config_de.properties
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETConfigurationAsCodeIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETInstallationIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETInstallationTest.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/installation/ETToolPropertyTest.java
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/tool/installation/casc-export.yml
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/tool/installation/casc.yml
Labels: ecu-test, feature
