Repository jenkinsci/ecutest-plugin, pull requests merged in 2020-07, with the labels that each got.

#185 Support new version scheme
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/util/ToolVersion.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/util/ToolVersionTest.java
Labels: ecu-test, feature

#189 Remove deprecated configuration in buildPlugin
  Jenkinsfile
Labels: chore

#191 Handle starting ECU-TEST with invalid license
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/client/AbstractToolClient.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/wrapper/com/ETComClient.java
Labels: ecu-test, feature

#195 Ensure TEST-GUIDE 1.82.0 compatibility
  .idea/jarRepositories.xml
  README.md
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/ATXPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXConfig.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXSetting.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXSettingParser.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/util/ATXUtil.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global.jelly
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global_de.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/config.xml
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/pipeline/ATXNewServerStep/help.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/pipeline/ATXNewServerStep/help_de.html
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXConfigTest.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXConfigurationAsCodeIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/util/ATXUtilTest.java
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/casc-export.yml
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/casc.yml
Labels: feature, test-guide
