Repository jenkinsci/ecutest-plugin, pull requests merged in 2020-06, with the labels that each got.

#167 First configured parameter is always used in the freestyle job
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/AbstractToolPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/junit/JUnitPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/AbstractToolBuilder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/StartTSBuilder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/StopETBuilder.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/report/junit/JUnitPublisherIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/StartETBuilderIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/StartTSBuilderIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/tool/StopETBuilderIT.java
Labels: bug, ecu-test

#175 Ensure ECU-TEST 2020.2 compatibility
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/ETPlugin.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/AbstractToolPublisher.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/tool/AbstractToolBuilder.java
Labels: ecu-test, feature

#176 Ensure TEST-GUIDE 1.80.0 compatibility
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/ETPlugin.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXSetting.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXSettingParser.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global.jelly
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/ATXInstallation/global_de.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/config.xml
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/casc-export.yml
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/report/atx/installation/casc.yml
Labels: feature, test-guide

#177 Add failFast option for test folder execution
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilder.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilder/config.jelly
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilder/config.properties
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilder/config_de.properties
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilderIT.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilderTest.java
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilderIT/classicStep.groovy
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/test/TestFolderBuilderIT/symbolStep.groovy
Labels: ecu-test, feature

#181 Matrix view for tool compatibilities
  README.md
Labels: documentation, ecu-test
