Repository jenkinsci/ecutest-plugin, pull requests merged in 2021-04, with the labels that each got.

#290 Hide package checks without warnings
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/extension/warnings/WarningsRecorder.java
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/test/client/AbstractTestClient.java
  src/test/java/de/tracetronic/jenkins/plugins/ecutest/extension/warnings/WarningsRecorderIT.java
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/extension/warnings/WarningsRecorderIT/error.json
  src/test/resources/de/tracetronic/jenkins/plugins/ecutest/extension/warnings/WarningsRecorderIT/no-issues.json
Labels: ecu-test, feature

#299 Update teasers in plugin header
  README.md
  docs/images/platform_logo.png
Labels: documentation

#298 Add exception handling to consider 32 bit integer overflow
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/wrapper/com/TestEnvironment.java
Labels: bug, ecu-test

#304 Set global constants without configuration reload
  src/main/java/de/tracetronic/jenkins/plugins/ecutest/test/client/AbstractTestClient.java
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/test/config/TestConfig/help-constants.html
  src/main/resources/de/tracetronic/jenkins/plugins/ecutest/test/config/TestConfig/help-constants_de.html
Labels: ecu-test, feature
